#import sickbeard
#from sickbeard import clients
#set global $title="Config - Recherche d&apos;Episode"
#set global $header="R&eacute;glages des Recherches"
#set global $savechanges="Sauvegarder les modifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/configSearch.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
#if $varExists('header')
	<h1 class="header">$header</h1>
#else
	<h1 class="title">$title</h1>
#end if
<div id="config">
<div id="config-content">

<form id="configForm" action="saveSearch" method="post">

            <div id="config-components">
                <ul>
                	<li><a href="#core-component-group1">Recherche d&apos;&Eacute;pisode</a></li>
                	<li><a href="#core-component-group2">Recherche NZB</a></li>
                	<li><a href="#core-component-group3">Recherche Torrent</a></li>
                	<li><a href="#core-component-group4">M&eacute;thode Pr&eacute;f&eacute;rr&eacute;</a></li>
                </ul>
<!-- /component-group1 //-->

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Recherche d&apos;Episode</h3>
                        <p>Param&egrave;tres qui dictent comment et quand la recherche de l&apos;&eacute;pisode fonctionne avec les <a href="$sbRoot/config/providers">Fournisseurs</a>.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="download_propers" id="download_propers" #if $sickbeard.DOWNLOAD_PROPERS == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="download_propers">
                                <span class="component-title">T&eacute;l&eacute;chargement Convenable</span>
                                <span class="component-desc">Remplacer le t&eacute;l&eacute;chargement original avec une version convenable si il est habim&eacute;? Besoins de red&eacute;marrer</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <input type="checkbox" name="download_french" id="download_french" #if $sickbeard.DOWNLOAD_FRENCH == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="download_french">
                                <span class="component-title">T&eacute;l&eacutechargement Fran&ccedil;ais Auto</span>
                                <span class="component-desc">Remplacer les t&eacute;l&eacute;chargements non fran&ccedil;ais avec les fran&ccedil;ais, si ils existent, m&ecirc;me si l'audio est l'anglais (pour le spectacle o&ugrave; option est activ&eacute;e, va v&eacute;rifier toutes les semaines). besoins de red&eacute;marrer</span>
                            </label>
                        </div>
						
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Fr&eacutequence de Recherche</span>
                                <input type="text" name="search_frequency" value="$sickbeard.SEARCH_FREQUENCY" size="5" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Temps en minutes entre les recherches (par ex. 60)</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Delais auto de recherche Fran&ccedil;ais</span>
                                <input type="text" name="french_delay" value="$sickbeard.FRENCH_DELAY" size="5" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Rechercher automatiquement les &eacute;pisodes fran&ccedil;ais pour les &eacute;pisodes plus vieux de (en jours)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">R&eacutetention Usenet</span>
                                <input type="text" name="usenet_retention" value="$sickbeard.USENET_RETENTION" size="5" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Limite d'âge en jours pour utiliser des articles usenet. (par ex. 500)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Mots &agrave; Ignorer</span>
                                <input type="text" name="ignore_words" value="$sickbeard.IGNORE_WORDS" size="45" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Séparés avec une virgule les mots &agrave; vérifier lors de la recherche de l&apos;&eacute;pisode.</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Les r&eacute;sultats contenant un mot de la liste ne peuvent pas &ecirc;tre r&eacute;cup&eacute;r&eacute;.</span>
                            </label>
                        </div>

                        <div class="clearfix"></div>
                        <input type="submit" class="btn config_submitter" value="$savechanges" /><br/>

                    </fieldset>
                </div>
<!-- /component-group1 //-->
<!-- /component-group2 //-->
                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Recherche NZB</h3>
                        <p>Param&egrave;tres qui dictent la façon dont Sickbeard g&egrave;re les r&eacute;sultats de recherche NZB.</p>
                    </div>

                    <fieldset class="component-group-list">

                        <div class="field-pair">
                            <input type="checkbox" name="use_nzbs" class="enabler" id="use_nzbs" #if $sickbeard.USE_NZBS then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_nzbs">
                                <span class="component-title">Recherche NZB</span>
                                <span class="component-desc">Sickbeard devrait-il rechercher des fichiers NZB?</span>
                            </label>
                        </div>

                        <div id="content_use_nzbs">
                        <div class="field-pair">
                            <label class="clearfix" for="nzb_method">
                                <span class="component-title jumbo">M&eacute;thode NZB :</span>
                                <span class="component-desc">
                                    <select name="nzb_method" id="nzb_method">
                                    #set $nzb_method_text = {'blackhole': "Fichier (Black Hole)", 'sabnzbd': "SABnzbd", 'nzbget': "NZBget"}
                                    #for $curAction in ('sabnzbd', 'blackhole', 'nzbget'):
                                      #if $sickbeard.NZB_METHOD == $curAction:
                                        #set $nzb_method = "selected=\"selected\""
                                      #else
                                        #set $nzb_method = ""
                                      #end if
                                    <option value="$curAction" $nzb_method>$nzb_method_text[$curAction]</option>
                                    #end for
                                    </select>
                                </span>
                            </label>
                        </div>

                        <div id="blackhole_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Fichier NZB</span>
                                    <input type="text" name="nzb_dir" id="nzb_dir" value="$sickbeard.NZB_DIR" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Dossier o&ugrave; Sick-Beard va enregistrer le fichier <i>NZB</i>.</span>
                                </label>
                            </div>
                        </div>

                        <div id="sabnzbd_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">URL SABnzbd</span>
                                    <input type="text" id="sab_host" name="sab_host" value="$sickbeard.SAB_HOST" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">URL de votre installation SABnzbd+ </span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. http://localhost:8000/)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Nom d&apos;utilisateur SABnzbd</span>
                                    <input type="text" name="sab_username" id="sab_username" value="$sickbeard.SAB_USERNAME" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom d&apos;utilisateur de votre serveur SABnzbd+ (laisser vide si aucun)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Mot de passe de SABnzbd</span>
                                    <input type="password" name="sab_password" id="sab_password" value="$sickbeard.SAB_PASSWORD" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Mot de passe de votre serveur SABnzbd+ (laisser vide si aucun)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Cl&eacute; API de SABnzbd</span>
                                    <input type="text" name="sab_apikey" id="sab_apikey" value="$sickbeard.SAB_APIKEY" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">SABnzbd+ Config -> G&eacute;n&eacute;ral -> Cl&eacute; API.</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Cat&eacute;gorie de SABnzbd</span>
                                    <input type="text" name="sab_category" id="sab_category" value="$sickbeard.SAB_CATEGORY" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Cat&eacute;gorie pour enregistrer les t&eacute;l&eacute;chargements (par ex. TV)</span>
                                </label>
                            </div>
                        </div>

                        <div id="nzbget_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">NZBget h&ocirc;te:port</span>
                                    <input type="text" name="nzbget_host" id="nzbget_host" value="$sickbeard.NZBGET_HOST" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom d&apos;h&ocirc;te et le num&eacute;ro de port du NZBget RPC (pas NZBGet web!)</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. localhost:6789)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Mot de passe NZBget</span>
                                    <input type="password" name="nzbget_password" id="nzbget_password" value="$sickbeard.NZBGET_PASSWORD" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Mot de passe trouv&eacute; dans nzbget.conf (par d&eacute;faut &quot;tegbzn6789 &quot;)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Cat&eacutegorie NZBget</span>
                                    <input type="text" name="nzbget_category" id="nzbget_category" value="$sickbeard.NZBGET_CATEGORY" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Cat&eacute;gorie pour enregistrer les t&eacute;l&eacute;chargements (par ex. TV)</span>
                                </label>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="testNotification" id="testSABnzbd-result">Cliquez ci-dessous pour tester.</div>
                        <input class="btn" type="button" value="Test SABnzbd" id="testSABnzbd" class="btn test-button"/>
                        <input type="submit" class="btn config_submitter" value="$savechanges" /><br/>

                        </div><!-- /content_use_nzbs //-->


                    </fieldset>
                </div>
<!-- /component-group2 //-->
<!-- /component-group3 //-->

                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Recherche Torrent</h3>
                        <p>Param&egrave;tres qui dictent la façon dont Sickbeard g&egrave;re r&eacute;sultats de la recherche Torrent.</p>
                    </div>

                    <fieldset class="component-group-list">

                        <div class="field-pair">
                            <input type="checkbox" name="use_torrents" class="enabler" id="use_torrents" #if $sickbeard.USE_TORRENTS == True then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_torrents">
                                <span class="component-title">Recherche Torrents</span>
                                <span class="component-desc">Sickbeard devrait-il rechercher des fichiers torrents?</span>
                            </label>
                        </div>

                    <div id="content_use_torrents">
                        <div class="field-pair">
                            <label class="clearfix" for="torrent_method">
                                <span class="component-title jumbo">M&eacute;thode TORRENT</span>
                                <span class="component-desc">
                                <select name="torrent_method" id="torrent_method">
                                #set $torrent_method_text = {'blackhole': "Fichier (Black Hole)", 'ftpblackhole' : "Fichier sur FTP (Black hole)", 'utorrent': "uTorrent", 'transmission': "Transmission", 'deluge': "Deluge", 'download_station': "Synology DS Donwload"}
                                #for $curAction in ('blackhole', 'ftpblackhole', 'utorrent', 'transmission', 'deluge', 'download_station'):
                                  #if $sickbeard.TORRENT_METHOD == $curAction:
                                    #set $torrent_method = "selected=\"selected\""
                                  #else
                                    #set $torrent_method = ""
                                  #end if
                                  <option value="$curAction" $torrent_method>$torrent_method_text[$curAction]</option>
                                 #end for
                                  </select>
                            </label>
                        </div>
<!-- black hole //-->
                        <div id="t_blackhole_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="desc_torrent_dir" >Fichier TORRENT </span>
                                	<input type="text" name="torrent_dir" id="torrent_dir" value="$sickbeard.TORRENT_DIR" size="35" />
                            	</label>
	                            <label class="nocheck clearfix">
    	                            <span class="component-title">&nbsp;</span>
        	                        <span class="component-desc">Dossier o&ugrave; Sick-Beard va enregistrer vos fichiers <i>.torrent</i>.</span>
            	                </label>
	                            <label class="nocheck clearfix">
    	                            <span class="component-title">&nbsp;</span>
									<span class="component-desc"><b>Remarque:</b> Cette m&eacute;thode ne fonctionne pas avec le fournisseur: ThePirateBay</span>
            	                </label>
                        	</div>

	                        <div class="clearfix"></div>
	                        <input type="submit" class="btn config_submitter" value="$savechanges" id="t_blackhole_submit" /><br/>
	                    </div>
<!-- /content_use_torrents //-->

                        <div id="ftp_blackhole_settings">
                            <input type="checkbox" class="enabler" #if $sickbeard.USE_TORRENT_FTP then " checked=\"checked\"" else ""# id="torrent_use_ftp" name="torrent_use_ftp">
                            <label class="clearfix" for="torrent_use_ftp">
                                <span class="component-title">Envoie sur FTP</span>
                                <span class="component-desc">Pour les utilisateurs de seedbox, vous pouvez envoyer vos fichiers directement sur votre seedbox.</span>
                                <span class="component-desc">V&eacute;rifiez que ce dossier n&apos;est pas d&eacute;j&agrave; utilis&eacute; pour l&apos;enregistrement local par fichier.</span>
                            </label>
                            <div class="field-pair" id="Ftp_Host">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="host_desc">H&ocirc;te Ftp</span>
                                    <input type="text" name="ftp_host" id="ftp_host"  value="$sickbeard.FTP_HOST" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom d&apos;h&ocirc;te du serveur FTP</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. 88.88.88.88)</span>
                                </label>
                            </div>
                            <div class="field-pair" id="Ftp_Login">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="ftp_login_desc">Ftp LOGIN</span>
                                    <input type="text" name="ftp_login" id="ftp_login" name="ftp_login" value="$sickbeard.FTP_LOGIN" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom d&apos;utilisateur pour le compte Ftp</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. sickbeard)</span>
                                </label>
                            </div>

                            <div class="field-pair"  id="Ftp_Password">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="ftp_password_desc">Mot de passe Ftp</span>
                                    <input type="text" id="ftp_password" name="ftp_password" value="$sickbeard.FTP_PASSWORD" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Mot de passe pour le compte Ftp</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. sickbeard)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Ftp_Port">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="ftp_port_desc">PORT Ftp</span>
                                    <input type="number" step="1" id="ftp_port" name="ftp_port" value="$sickbeard.FTP_PORT" size="5" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Port du Serveur Ftp</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. 21)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Ftp_Timeout">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="ftp_timeout_desc">Ftp TIMEOUT</span>
                                    <input type="number" step="1" id="ftp_timeout" name="ftp_timeout" value="$sickbeard.FTP_TIMEOUT" size="5" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Temps d'abandont (Timeout) du serveur Ftp</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. 120)</span>
                                </label>
                            </div>

                            <div class="field-pair"  id="Ftp_Mode">
                                <input type="checkbox" class="enabler" #if $sickbeard.FTP_PASSIVE then " checked=\"checked\"" else ""# id="ftp_passive" name="ftp_passive">
                                <label for="ftp_passive" class="clearfix">
                                <label class="clearfix" for="Ftp_Mode">
                                <span class="component-title">Mode Passive</span>
                                <span class="component-desc">Se Connecter au FTP en mode passif?.</span>
                                </label>
                            </div>

                           <div class="field-pair" id="Ftp_RemoteDir">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="ftp_remotedir_desc">Dossier distant Ftp</span>
                                    <input type="text" name="ftp_remotedir" id="ftp_remotedir" value="$sickbeard.FTP_DIR" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Le dossier distant o&ugrave; sickbeard envoie les fichiers</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. /downloads/watch)</span>
                                </label>
                            </div>
                            <input type="submit" class="btn config_submitter" value="$savechanges" /><br/>
                        </div>
<!-- Torrent setting //-->
                        <div id="torrent_settings">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="host_desc">H&ocirc;te Torrent</span>
                                    <input type="text" name="torrent_host" id="torrent_host" value="$sickbeard.TORRENT_HOST" size="45" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">URL du Client Torrent</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">(par ex. http://localhost:8000/</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Torrent_custom_url">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="torrent_custom_url_desc">Utilisez une URL personnalis&eacute;e</span>
                                    <input type="checkbox" name="torrent_custom_url" class="enabler" id="torrent_custom_url" #if $sickbeard.TORRENT_CUSTOM_URL == True then "checked=\"checked\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Web interface answers on different folder? (défaut : faux)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Torrent_username">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="username_desc"> Nom d&apos;utilisateur Torrent</span>
                                    <input type="text" name="torrent_username" id="torrent_username" value="$sickbeard.TORRENT_USERNAME" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom d&apos;utilisateur devotre client Torrent (laisser vide si aucun)</span>
                                </label>
                            </div>

                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="password_desc">Mot de passe Torrent</span>
                                    <input type="password" name="torrent_password" id="torrent_password" value="$sickbeard.TORRENT_PASSWORD" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Mot de passe de votre client Torrent (laisser vide si aucun)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Torrent_Label">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="label_desc">Torrent Label</span>
                                    <input type="text" name="torrent_label" id="torrent_label" value="$sickbeard.TORRENT_LABEL" size="20" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Ajouter une &eacute;tiquette sp&eacute;cifique &agrave; Torrent</span>
                                </label>
                                <label class="nocheck clearfix" id="deluge_label_warning">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc"><b>Note:</b> Le plug-in &Eacute;tiquette doit &ecirc;tre activ&eacute; dans le client D&eacute;luge</span>
                                </label>
                            </div>

                        	<div class="field-pair" id="Torrent_Path">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="directory_desc">Dossier Torrent</span>
                                    <input type="text" name="torrent_path" id="torrent_path" value="$sickbeard.TORRENT_PATH" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">O&ugrave; faut-il enregistrer les fichiers t&eacute;l&eacute;charg&eacute;s? (Vide par défaut)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Torrent_Ratio">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="torrent_ratio_desc">Ratio Torrent</span>
                                    <input type="number" step="0.1" name="torrent_ratio" id="torrent_ratio" value="$sickbeard.TORRENT_RATIO" size="2" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Arr&ecirc;tez le transfert quand le ration est atteint (vide par défaut)</span>
                                </label>
                            </div>

                            <div class="field-pair" id="Torrent_Paused">
                                <label class="nocheck clearfix">
                                    <span class="component-title" id="torrent_paused_desc">D&eacute;marrer les Torrent en Pause</span>
                                    <input type="checkbox" name="torrent_paused" class="enabler" id="torrent_paused" #if $sickbeard.TORRENT_PAUSED == True then "checked=\"checked\"" else ""# />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Ne pas lancer le t&eacute;l&eacute;chargement lorsque torrent est ajout&eacute;?</span>
                                </label>
                            </div>
                            
                               <div class="testNotification" id="testTorrent-result">Cliquez ci-dessous pour tester.</div>
                               <input class="btn" type="button" value="Test Connection" id="testTorrent" class="btn test-button"/>
                            
                        	<input type="submit" class="btn config_submitter" value="$savechanges" /><br/>
                             </div>
                        </div>

                    </fieldset>

</div><!-- /component-group3 //-->
				 <div id="core-component-group4" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>M&eacute;thode Pr&eacute;f&eacute;r&eacute;e</h3>
                        <p>Param&egrave;tres qui dictent la fa&ccedilon dont Sickbeard choisira le meilleur r&eacute;sultat parmi les NZBS et Torrents</p>
                    </div>
                    <div class="field-pair">
                            <label class="clearfix" for="prefered_method">
                                <span class="component-title jumbo">M&eacute;thode Pr&eacute;f&eacute;r&eacute;e</span>
                                <span class="component-desc">
                                <select name="prefered_method" id="preferred_method">
                                #set $prefered_method_text = {'torrent': "Torrent", 'nzb': "Newsgroup"}
                                #for $curAction in ('torrent', 'nzb'):
                                  #if $sickbeard.PREFERED_METHOD == $curAction:
                                    #set $prefered_method = "selected=\"selected\""
                                  #else
                                    #set $prefered_method = ""
                                  #end if
                                  <option value="$curAction" $prefered_method>$prefered_method_text[$curAction]</option>
                                 #end for
                                  </select>
                                  <div class="clearfix"></div>
                        <input type="submit" class="btn config_submitter" value="$savechanges" /><br/>
                    </div>
                    </fieldset>
<!-- /component-group4 //-->
<!-- //-->
                <div class="title-group clearfix" id="no-torrents">
                    <div class="ui-corner-all config_message">Remarque : Sickbeard fonctionne mieux avec Usenet qu&apos;avec Torrents,voir <a href="http://www.sickbeard.com/usenet.html" target="_blank"><b>ici</b></a> pourquoi.</div>
                </div> 

</div><br />

		<br/>
		<small class="float-right"><b>Tous les emplacements de dossier non absolus sont li&eacute;s &agrave;<span class="path">$sickbeard.DATA_DIR</span></b> </small>
		<!-- <input type="submit" class="btn config_submitter button" value="$savechanges" /><br/> //-->


            </div>
<!-- /config-components //-->

</form>

</div></div>
<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
<!--
	jQuery('#config-components').tabs();
    jQuery('#nzb_dir').fileBrowser({ title: 'Select NZB Black Hole/Watch Directory' });
    jQuery('#torrent_dir').fileBrowser({ title: 'Select Torrent Black Hole/Watch Directory' });
    jQuery('#torrent_path').fileBrowser({ title: 'Select Torrent Download Directory' });
    jQuery('#tv_download_dir').fileBrowser({ title: 'Select TV Download Directory' });

//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR,"data/interfaces/default/inc_bottom.tmpl")
