#import os.path
#import sickbeard
#from sickbeard.common import *
#from sickbeard import config
#from sickbeard import metadata
#from sickbeard.metadata.generic import GenericMetadata
#set global $title  = "Config - G&eacute;n&eacute;ral"
#set global $header = "Configuration G&eacute;n&eacute;rale"
#set global $savechanges="Sauvegarder les modifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>

<div id="config">
<div id="config-content">

<form id="configForm" action="saveGeneral" method="post">
            <div id="config-components">
				
				<ul>
					<li><a href="#core-component-group1">Divers</a></li>
					<li><a href="#core-component-group2">Interface Web</a></li>
					<li><a href="#core-component-group4">Api</a></li>
				</ul>
				
                <div id="core-component-group1" class="component-group clearfix">
					
                    <div class="component-group-desc">
                        <h3>Divers</h3>
                        <p>Les options de d&eacute;marrage.</p>
                        <p><b>Certaines options peuvent n&eacute;cessiter un red&eacute;marrage manuel pour prendre effet.</b></p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="launch_browser" id="launch_browser" #if $sickbeard.LAUNCH_BROWSER then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="launch_browser">
                                <span class="component-title">Lancer le navigateur</span>
                                <span class="component-desc">Voulez-vous que Sick Beard ouvre sa page d&acute;accueil au d&eacute;marrage?</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="update_shows_on_start" id="update_shows_on_start" #if $sickbeard.UPDATE_SHOWS_ON_START then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="update_shows_on_start">
                                <span class="component-title">Affiche les Mise &agrave; jour au D&eacute;marrer</span>
                                <span class="component-desc">Voulez vous que Sick Beard actualise les informations au d&eacute;marrage?</span>
                            </label>
                        </div>  
                        
                        <div class="field-pair">
                            <input type="checkbox" name="version_notify" id="version_notify" #if $sickbeard.VERSION_NOTIFY then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="version_notify">
                                <span class="component-title">V&eacute;rification des Mise &agrave; jours</span>
                                <span class="component-desc">Notifier quand une mise &agrave; jour est disponible.</span>
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">V&eacute;rification des mises &agrave; jour au d&eacute;marrage et ex&eacute;cuter toutes les 12 heures.</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <input type="checkbox" name="sort_article" id="sort_article" #if $sickbeard.SORT_ARTICLE then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="sort_article"> 
                                <span class="component-title">Trier les articles</span> 
                                <span class="component-desc">Inclure les articles (The, A, An, Le, La, Les ...) lors du tri des listes.</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="french_column" id="french_column" #if $sickbeard.FRENCH_COLUMN then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="french_column">
                                <span class="component-title">Colonne Français</span>
                                <span class="component-desc">Afficher le compte des Episodes français sur la page d&acute;accueil ?</span>
                            </label>
                        </div>  

                        <div class="field-pair">
                            <label class="nocheck clearfix" for="log_dir">
                                <span class="component-title">R&eacute;pertoire de journalisation</span>
                                <input type="text" name="log_dir" id="log_dir" value="$sickbeard.LOG_DIR" size="35" />
                            </label>
                        </div>

                        <input type="submit" class="btn config_submitter" value="$savechanges" />
                    </fieldset>
                </div><!-- /component-group1 //-->


                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Interface Web</h3>
                        <p>Il est recommand&eacute; que vous activiez un nom d&acute;utilisateur et mot de passe pour s&eacute;curiser Sick Beard et &eacute;viter d&acute;&ecirc;tre alt&eacute;r&eacute; &agrave; distance.</p>
                        <p><b>Ces options n&eacute;cessitent un red&eacute;marrage manuel pour prendre effet.</b></p>
                    </div>

                    <fieldset class="component-group-list">
                        
                        <div class="field-pair">
                            <input type="checkbox" name="web_ipv6" id="web_ipv6" #if $sickbeard.WEB_IPV6 then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="web_ipv6">
                                <span class="component-title">&Eacute;coute IPv6</span>
                                <span class="component-desc">Laisser Sick Beard se lier &agrave; toutes les adresses IPv6 disponibles?</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <input type="checkbox" name="web_log" id="web_log" #if $sickbeard.WEB_LOG then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="web_log">
                                <span class="component-title">Journal HTTP</span>
                                <span class="component-desc">G&eacute;n&eacute;rer un journal si vous avez un server (cherrypy).</span>
                            </label>
                        </div>
                        
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Port HTTP</span>
                                <input type="text" name="web_port" value="$sickbeard.WEB_PORT" size="10" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Port Web que Sick Beard doit &eacute;couter (eg. 8081)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Nom d&acute;utilisateur HTTP</span>
                                <input type="text" name="web_username" value="$sickbeard.WEB_USERNAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Nom d&acute;utilisateur pour l&acute;authentification (blanc si aucun)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Mot de passe HTTP</span>
                                <input type="password" name="web_password" value="$sickbeard.WEB_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Mot de passe pour l&acute;authentification (blanc si aucun)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="clearfix">
                                <input type="checkbox" name="enable_https" class="enabler" id="enable_https" #if $sickbeard.ENABLE_HTTPS then "checked=\"checked\"" else ""#/>
                                <span class="component-title">Permettre HTTPS</span>
                                <span class="component-desc">Activer l&acute;acc&egrave;s &agrave; l&acute;interface d&acute;une adresse HTTPS.</span>
                            </label>
                        </div>
                        
                        <div id="content_enable_https">
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Certificat HTTPS</span>
                                    <input type="text" name="https_cert" value="$sickbeard.HTTPS_CERT" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom de fichier ou chemin de certificat HTTPS.</span>
                                </label>
                            </div>
    
                            <div class="field-pair">
                                <label class="nocheck clearfix">
                                    <span class="component-title">Cl&eacute; HTTPS/span>
                                    <input type="text" name="https_key" value="$sickbeard.HTTPS_KEY" size="35" />
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-title">&nbsp;</span>
                                    <span class="component-desc">Nom du fichier ou le chemin vers Cl&eacute; HTTPS.</span>
                                </label>
                            </div>
                        </div>

                        <input type="submit" class="btn config_submitter" value="$savechanges" />
                    </fieldset>
                </div><!-- /component-group2 //-->

                <div id="core-component-group4" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>API</h3>
                        <p>Autoriser les programmes tiers &agrave; int&eacute;ragir avec Sick-beard.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" name="use_api" class="enabler" id="use_api" #if $sickbeard.USE_API then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="use_api">
                                <span class="component-title">Autoriser API</span>
                                <span class="component-desc">Permettre l&acute;utilisation de l&acute;API de Sick-Beard.</span>
                            </label>
                        </div>

                        <div id="content_use_api">
                        <div class="field-pair">
                            <label class="nocheck clearfix" for="api_key">
                                <span class="component-title">Cl&eacute; API</span>
                                <input type="text" name="api_key" id="api_key" value="$sickbeard.API_KEY" size="35" readonly="readonly" />
                                <input class="btn" class="btn" type="button" id="generate_new_apikey" value="Generate">
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Utilis&eacute; pour restreindre l&acute;access des programmes tiers &agrave; Sick-Beard.</span>
                            </label>
                        </div>
                        </div>

                        <input type="submit" class="btn config_submitter" value="$savechanges" />
                    </fieldset>
                </div><!-- /component-group4 //-->
                <br/>
				<small class="float-right"><b>Tous les emplacements de dossier non absolus sont li&eacute;s &agrave;<span class="path">$sickbeard.DATA_DIR</span></b> </small>
			<!--	<input type="submit" class="btn config_submitter button" value="$savechanges" /> -->
            
            </div><!-- /config-components -->
		
</form>
</div></div>

<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#log_dir').fileBrowser({ title: 'Select Log Directory' });
    jQuery('#config-components').tabs();
//-->
</script>

#include $os.path.join($sickbeard.PROG_DIR,"data/interfaces/default/inc_bottom.tmpl")
