#import sickbeard
#from sickbeard.providers.generic import GenericProvider
#set global $title="Config - Les fournisseurs"
#set global $header="Fournisseurs de Recherches"
#set global $savechanges="Sauvegarder les modifications"

#set global $sbPath="../.."

#set global $topmenu="config"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script type="text/javascript" src="$sbRoot/js/configProviders.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/config.js?$sbPID"></script>
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){

var show_nzb_providers = #if $sickbeard.USE_NZBS then "true" else "false"#;
#for $curNewznabProvider in $sickbeard.newznabProviderList:
\$(this).addProvider('$curNewznabProvider.getID()', '$curNewznabProvider.name', '$curNewznabProvider.url', '$curNewznabProvider.key', $int($curNewznabProvider.default), show_nzb_providers);
#end for
});
//-->
</script>

<div id="config">
<div id="config-content">

<form id="configForm" action="saveProviders" method="post">

            <div id="config-components">
                <ul>
                	<li><a href="#core-component-group1">Choix des fournisseurs</a></li>
                	<li><a href="#core-component-group2">Configurer les fournisseurs</a></li>
                  #if $sickbeard.USE_NZBS
                	<li><a href="#core-component-group3">Configurer des fournisseurs Newznab personnalisés</a></li>
                  #end if
                </ul>
                
                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Choix des fournisseurs</h3>
                        <p>Cochez et faites glisser les fournisseurs dans l&apos;ordre o&ugrave; vous souhaitez qu&apos; ils soient utilis&eacute;s.</p>
                        <p>Au moins un fournisseur est requis, mais deux sont recommand&eacute;s.</p>

                        #if not $sickbeard.USE_NZBS or not $sickbeard.USE_TORRENTS:
                        <blockquote style="margin: 20px 0;">Les Fournisseures de NZB/Torrent peut &ecirc;tre modifi&eacute;e dans <b><a href="$sbRoot/config/search">R&eacute;glages des Recherches</a></b></blockquote>
                        #else:
                        <br/>
                        #end if

                        <div>
                            <h4 class="note">*</h4><p class="note">Actuellement le fournisseur ne prend pas en charge les arriérés de recherches.</p>
                            <h4 class="note">**</h4><p class="note">Actuellement le fournisseur prend en charge les arriérés de recherches <b>limitées</b>, tous les épisodes / qualités peuvent ne pas être disponibles.</p>
							<h4 class="note">!</h4><p class="note">Le Fournisseur <b>NE FONCTIONNE PAS</b>.</p>
                        </div>
                    </div>

                    <fieldset class="component-group-list" style="margin-left: 50px; margin-top:36px">
                        <ul id="provider_order_list">
                        #for $curProvider in $sickbeard.providers.sortedProviderList():
                            #if $curProvider.providerType == $GenericProvider.NZB and not $sickbeard.USE_NZBS:
                                #continue
                            #elif $curProvider.providerType == $GenericProvider.TORRENT and not $sickbeard.USE_TORRENTS:
                                #continue
                            #end if
                            #set $curName = $curProvider.getID()
                          <li class="ui-state-default" id="$curName">
                            <input type="checkbox" id="enable_$curName" class="provider_enabler" #if $curProvider.isEnabled() then "checked=\"checked\"" else ""#/>
                            <a href="$curProvider.url" class="imgLink" target="_new"><img src="$sbRoot/images/providers/$curProvider.imageName()" alt="$curProvider.name" title="$curProvider.name" width="16" height="16" /></a>
                            $curProvider.name
                            #if not $curProvider.supportsBacklog then "*" else ""#
                            #if $curProvider.name == "EZRSS" or $curProvider.name == "DailyTvTorrents" then "**" else ""#
                            #if $curProvider.name == "DailyTvTorrents" then "!" else ""
                            <span class="ui-icon ui-icon-arrowthick-2-n-s pull-right"></span>
                          </li>
                        #end for
                        </ul>
                        <input type="hidden" name="provider_order" id="provider_order" value="<%=" ".join([x.getID()+':'+str(int(x.isEnabled())) for x in sickbeard.providers.sortedProviderList()])%>"/>
                        <br/><input type="submit" class="btn config_submitter" value=$savechanges /><br/>
                    </fieldset>
                </div><!-- /component-group1 //-->

                <div id="core-component-group2" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configurer les paramètres <br />des fournisseurs</h3>
                        <p>Si nécessaire, consultez le site Web du fournisseur sur la façon d'obtenir une clé API.</p>
                    </div>
                    
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix" for="editAProvider">
                                <span class="component-title jumbo">Configuration Fournisseurs</span>
                                <span class="component-desc">
                                    #set $provider_config_list = []
                                    #for $cur_provider in ("omgwtfnzbs", "tvtorrents", "torrentleech", "btn", "binnewz", "t411", "ftdb", "addict", "fnt", "libertalia", "sotorrent", "piratebay", "ethor", "thinkgeek", "xthor"):
                                        #set $cur_provider_obj = $sickbeard.providers.getProviderClass($cur_provider)
                                        #if $cur_provider_obj.providerType == $GenericProvider.NZB and not $sickbeard.USE_NZBS:
                                        	#continue
                                        #elif $cur_provider_obj.providerType == $GenericProvider.TORRENT and not $sickbeard.USE_TORRENTS:
                                        	#continue	
                                        #end if	
                                        $provider_config_list.append($cur_provider_obj)
                                    #end for

                                    #if $provider_config_list:                                        
                                    <select id="editAProvider">
                                        #for $cur_provider in $provider_config_list + [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth and $sickbeard.USE_NZBS]:
                                            <option value="$cur_provider.getID()">$cur_provider.name</option>
                                        #end for
                                    </select>
                                    #else:
                                    No providers available to configure.
                                    #end if
                                </span>
                            </label>
                        </div>


<!-- start div for editing providers //-->
#for $curNewznabProvider in [$curProvider for $curProvider in $sickbeard.newznabProviderList if $curProvider.default and $curProvider.needs_auth]:
                    <div class="providerDiv" id="${curNewznabProvider.getID()}Div">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name URL</span>
                                <input class="component-desc" type="text" id="${curNewznabProvider.getID()}_url" value="$curNewznabProvider.url" size="40" disabled/>
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">$curNewznabProvider.name API Key</span>
                                <input class="component-desc newznab_key" type="text" id="${curNewznabProvider.getID()}_hash" value="$curNewznabProvider.key" size="40" />
                            </label>
                        </div>
                    </div><!-- /${curNewznabProvider.getID()}Div //-->
#end for

                    <div class="providerDiv" id="nzbs_r_usDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de NZBs'R'US</span>
                                <input class="component-desc" type="text" name="nzbs_r_us_uid" value="$sickbeard.NZBSRUS_UID" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Clé API de NZBs'R'US</span>
                                <input class="component-desc" type="text" name="nzbs_r_us_hash" value="$sickbeard.NZBSRUS_HASH" size="40" />
                            </label>
                        </div>
                    </div><!-- /nzbs_r_usDiv //-->
                    
                    <div class="providerDiv" id="omgwtfnzbsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de omgwtfnzbs</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_uid" value="$sickbeard.OMGWTFNZBS_UID" size="10" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Clé API de omgwtfnzbs</span>
                                <input class="component-desc" type="text" name="omgwtfnzbs_key" value="$sickbeard.OMGWTFNZBS_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /omgwtfnzbsDiv //-->

                    <div class="providerDiv" id="binnewzDiv"><p>Rien &agrave; configurer</p>
                    </div><!-- /binnewzDiv //-->
                    
                    </div><!-- /piratebay //-->

                    <div class="providerDiv" id="piratebay"><p>Rien &agrave; configurer</p>
                    </div><!-- /piratebay //-->

                    <div class="providerDiv" id="tvtorrentsDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">TvTorrents Digest:</span>
                                <input class="component-desc" type="text" name="tvtorrents_digest" value="$sickbeard.TVTORRENTS_DIGEST" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Hash de TvTorrents:</span>
                                <input class="component-desc" type="text" name="tvtorrents_hash" value="$sickbeard.TVTORRENTS_HASH" size="40" />
                            </label>
                        </div>
                    </div><!-- /torrentleechDiv //-->

                    <div class="providerDiv" id="torrentleechDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Clé RSS de TorrentLeech: <br />(Activer l'option dans le profil)</span>
                                <input class="component-desc" type="text" name="torrentleech_key" value="$sickbeard.TORRENTLEECH_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /torrentleechDiv //-->
                    
                    <div class="providerDiv" id="ethorDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Clé RSS de Ethor: <br />(&agrave; obtenir de la page RSS du site)</span>
                                <input class="component-desc" type="text" name="ethor_key" value="$sickbeard.ETHOR_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /ethorDiv //-->
                    
                    <div class="providerDiv" id="t411Div">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de T411:</span>
                                <input class="component-desc" type="text" name="t411_username" value="$sickbeard.T411_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de T411:</span>
                                <input class="component-desc" type="text" name="t411_password" value="$sickbeard.T411_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /t411Div //-->

                    <div class="providerDiv" id="ftdbDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de FTDB:</span>
                                <input class="component-desc" type="text" name="ftdb_username" value="$sickbeard.FTDB_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de FTDB:</span>
                                <input class="component-desc" type="text" name="ftdb_password" value="$sickbeard.FTDB_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /ftdbDiv //-->
                                        
                    <div class="providerDiv" id="addictDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de ADDICT:</span>
                                <input class="component-desc" type="text" name="addict_username" value="$sickbeard.ADDICT_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de ADDICT:</span>
                                <input class="component-desc" type="text" name="addict_password" value="$sickbeard.ADDICT_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /addictDiv //-->
                    
                    <div class="providerDiv" id="fntDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de FNT:</span>
                                <input class="component-desc" type="text" name="fnt_username" value="$sickbeard.FNT_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de FNT:</span>
                                <input class="component-desc" type="text" name="fnt_password" value="$sickbeard.FNT_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /fntDiv //-->
                    
                    <div class="providerDiv" id="thinkgeekDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de THINK GEEK:</span>
                                <input class="component-desc" type="text" name="thinkgeek_username" value="$sickbeard.THINKGEEK_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de THINK GEEK:</span>
                                <input class="component-desc" type="text" name="thinkgeek_password" value="$sickbeard.THINKGEEK_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /thinkgeekDiv //-->
                    
                     <div class="providerDiv" id="libertaliaDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de libertalia:</span>
                                <input class="component-desc" type="text" name="libertalia_username" value="$sickbeard.LIBERTALIA_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de libertalia:</span>
                                <input class="component-desc" type="text" name="libertalia_password" value="$sickbeard.LIBERTALIA_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /libertaliaDiv //-->
                    
                     <div class="providerDiv" id="sotorrentDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de So-torrent:</span>
                                <input class="component-desc" type="text" name="sotorrent_username" value="$sickbeard.SOTORRENT_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de So-torrent:</span>
                                <input class="component-desc" type="password" name="sotorrent_password" value="$sickbeard.SOTORRENT_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /sotorrentDiv //-->
                    
                    <div class="providerDiv" id="xthorDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Identifiant de XTHOR:</span>
                                <input class="component-desc" type="text" name="xthor_username" value="$sickbeard.XTHOR_USERNAME" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Mot de passe de XTHOR:</span>
                                <input class="component-desc" type="text" name="xthor_password" value="$sickbeard.XTHOR_PASSWORD" size="40" />
                            </label>
                        </div>
                    </div><!-- /xthorDiv //-->

                    <div class="providerDiv" id="btnDiv">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title">Clé API de BTN:</span>
                                <input class="component-desc" type="text" name="btn_api_key" value="$sickbeard.BTN_API_KEY" size="40" />
                            </label>
                        </div>
                    </div><!-- /btnDiv //-->


<!-- end div for editing providers -->

                    <input type="submit" class="btn config_submitter" value=$savechanges /><br/>
            
                    </fieldset>
                </div><!-- /component-group2 //-->

#if $sickbeard.USE_NZBS
                <div id="core-component-group3" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configurer des Fournisseurs <br />Newznab personalis&eacute;s</h3>
                        <p>Ajouter et mettre en place les fournisseurs Newznab personnalis&eacute;.</p>
                        <p>Certains fournisseurs Newznab intégrés sont déjà disponibles ci-dessus.</p>
                    </div>

                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <label class="clearfix">
                                <span class="component-title jumbo">Sélectionnez le fournisseur:</span>
                                <span class="component-desc">
                                    <input type="hidden" name="newznab_string" id="newznab_string" />
                                    <select id="editANewznabProvider">
                                        <option value="addNewznab">-- Ajouter un nouveau Fournisseur --</option>
                                    </select>
                                </span>
                            </label>
                        </div>

<div class="newznabProviderDiv" id="addNewznab">
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Nom du Fournisseur</span>
                                <input class="component-desc" type="text" id="newznab_name" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Url du Site</span>
                                <input class="component-desc" type="text" id="newznab_url" size="40" />
                            </label>
                        </div>
                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Clé API</span>
                                <input class="component-desc" type="text" id="newznab_key" size="40" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">(laisser vide si non n&eacute;cessaire)</span>
                            </label>
                        </div>
            <div id="newznab_add_div">
                <input class="btn" type="button" class="newznab_save" id="newznab_add" value="Ajouter" />
            </div>
            <div id="newznab_update_div" style="display: none;">
                <input class="btn btn-danger newznab_delete" type="button" class="newznab_delete" id="newznab_delete" value="Supprimer" />
            </div> 
</div>

                    </fieldset>
                </div><!-- /component-group3 //-->
#end if
                    
            </div><!-- /config-components //-->

</form>
</div></div>
<div class="clearfix"></div>
<script type="text/javascript" charset="utf-8">
<!--
    jQuery('#config-components').tabs();
//-->
</script>
#include $os.path.join($sickbeard.PROG_DIR,"data/interfaces/default/inc_bottom.tmpl")
