#import os.path
#import urllib
#import sickbeard
#set global $title=""
#set global $header="Ajouter une S&eacute;rie"

#set global $sbPath="../.."

#set global $statpath="../.."#
#set global $topmenu="home"#
#import os.path

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")
#if $varExists('header') 
	<h1 class="header">$header</h1>
#else 
	<h1 class="title">$title</h1>
#end if
<script type="text/javascript" charset="utf-8">
<!--
\$(document).ready(function(){  

    \$('#btnNewShow').click(function() {
      window.location = '$sbRoot/home/addShows/newShow';
    });
    \$('#btnExistingShow').click(function() {
      window.location = '$sbRoot/home/addShows/existingShows';
    });

});
//-->
</script>

<div id="addShowPortal" class="clearfix">

    <button id="btnNewShow" class="ui-button">
        <div class="button"><img src="$sbRoot/images/add-new32.png" alt="Add New Show"/></div>
        <div class="buttontext">
            <h2>Ajouter une nouvelle s&eacute;rie</h2>
            <p>Pour les s&eacute;ries que vous n&apos;avez pas encore t&eacute;l&eacute;charg&eacute;, cette option trouve la s&eacute;rie sur theTVDB.com, cr&eacute;e un r&eacute;pertoire pour ses &eacute;pisodes, et l'ajoute &agrave; Sick Beard.</p>
        </div>
    </button>

    <button id="btnExistingShow" class="ui-button">
        <div class="button"><img src="$sbRoot/images/add-existing32.png" alt="Add Existing Shows"/></div>
        <div class="buttontext">
            <h2>Ajouter une ou des s&eacute;ries existantes</h2>
            <p>Utilisez cette option pour ajouter des s&eacute;ries qui ont d&eacute;j&agrave; un dossier cr&eacute;&eacute; sur votre disque dur. Sick Beard va scanner vos m&eacute;tadonn&eacute;es et vos &eacute;pisodes existants et ajouter les s&eacute;ries en conséquence.</p>
        </div>
    </button>

</div>

#include $os.path.join($sickbeard.PROG_DIR,"data/interfaces/default/inc_bottom.tmpl")
