#import sickbeard
#from sickbeard import common
#from sickbeard.common import *
#from sickbeard import subtitles

		#if $sickbeard.USE_SUBTITLES:
        <div class="field-pair alt">
            <input type="checkbox" name="subtitles" id="subtitles" #if $sickbeard.SUBTITLES_DEFAULT then "checked=\"checked\"" else ""# />
            <label for="subtitles" class="clearfix">
                <span class="component-title">Sous Titres</span>
                <span class="component-desc">T&eacute;l&eacute;charger les sous titres pour cette s&eacute;ries</span>
            </label>
        </div>
        #end if
        
        <div class="field-pair">
            <label for="statusSelect" class="nocheck clearfix">
                <span class="component-title">
                    <select name="defaultStatus" id="statusSelect">
                    #for $curStatus in [$SKIPPED, $WANTED, $ARCHIVED, $IGNORED]:
                        <option value="$curStatus" #if $sickbeard.STATUS_DEFAULT == $curStatus then 'selected="selected"' else ''#>$statusStrings[$curStatus]</option>
                    #end for
                    </select>
                </span>
                <span class="component-desc">D&eacute;finir l&apos;&eacute;tat initial des &eacute;pisodes manquants</span>
            </label>
        </div>

        <div class="field-pair alt">
            <input class="cb" type="checkbox" name="flatten_folders" id="flatten_folders" #if $sickbeard.FLATTEN_FOLDERS_DEFAULT then "checked=\"checked\"" else ""# />
            <label for="flatten_folders" class="clearfix">
                <span class="component-title">Pas de Dossiers</span>
                <span class="component-desc">Ignorez les sous-dossiers ?</span>
            </label>
        </div>

        #set $qualities = $Quality.splitQuality($sickbeard.QUALITY_DEFAULT)
        #set global $anyQualities = $qualities[0]
        #set global $bestQualities = $qualities[1]
        #include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_qualityChooser.tmpl")
			<div class="field-pair">
            <label for="showLangSelect" class="nocheck clearfix">
                <span class="component-title">
                    <select name="audio_lang" id="showLangSelect">
                   #for $k,$v in $common.showLanguages.iteritems():
					#if k!="":
					<option value="$k"
					#if $sickbeard.AUDIO_SHOW_DEFAULT == $k then 'selected="selected"' else ''#>$v</option>
					#end if
					#end for
				</select>
                </span>
                <span class="component-desc">R&eacute;glez la langue audio d&eacute;sir&eacute;e pour cette S&eacute;rie (ceci peut &ecirc;tre modifi&eacute; par la suite)</span>
            </label>
        </div>
        <div class="field-pair alt">
            <label for="saveDefaultsButton" class="nocheck clearfix">
                <span class="component-title"><input class="btn" type="button" id="saveDefaultsButton" value="Sauvegarder" disabled="disabled" /></span>
                <span class="component-desc">Enregistrer ces r&eacute;glages comme valeurs par D&apos;&eacute;faut</span>
            </label>
        </div>
