#import sickbeard
#import datetime
#from sickbeard.common import *
#set global $title="Gestion des Recherches"
#set global $header="Gestion des Recherches"
#set global $sbPath=".."

#set global $topmenu="manage"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

<script type="text/javascript" src="$sbRoot/js/plotTooltip.js?$sbPID"></script>
   #if $varExists('header') 
   	<h1 class="header">$header</h1>
   #else 
   	<h1 class="title">$title</h1>
   #end if

<h3>Journal des recherches:</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/pauseBacklog?paused=#if $backlogPaused then "0" else "1"#"><i class="#if $backlogPaused then "icon-play" else "icon-pause"#"></i> #if $backlogPaused then "Activer" else "Pause"#</a> 
#if not $backlogRunning:
Arr&eacute;t&eacute;<br />
#else:
#if $backlogPaused then "Pause : " else ""#
 actuellement en cours d&apos;ex&eacute;cution<br />
#end if

<br />
<h3>Recherche Quotidienne des Episodes :</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/forceSearch"><i class="icon-exclamation-sign"></i> Forcer</a> 
#if not $searchStatus:
Actuellement arr&eacute;t&eacute;<br />
#else:
En cours<br />
#end if
<br />

<h3>V&eacute;rification de nouvelle Version:</h3>
<a class="btn" href="$sbRoot/manage/manageSearches/forceVersionCheck"><i class="icon-check"></i> Forcer la v&eacute;rification</a>
<br />

#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
