<script type="text/javascript" charset="utf-8">
<!--
#try:
    #set curSBHost = $sbHost
    #set curSBHttpPort = $sbHttpPort
    #set curSBHttpsEnabled = $sbHttpsEnabled
#except NameMapper.NotFound:
    #set curSBHost = "localhost"
    #set curSBHttpPort = $sickbeard.WEB_PORT
    #set curSBHttpsEnabled = "False"
#end try
sbRoot = "$sbRoot";
sbHttpPort = "$curSBHttpPort";
sbHttpsEnabled = "$curSBHttpsEnabled";
sbHost = "$curSBHost";
//-->
</script>

<script type="text/javascript" src="$sbRoot/js/lib/jquery-1.8.3.min.js?$sbPID"></script>
<script type="text/javascript" src="$sbRoot/js/restart.js?$sbPID"></script>

<h2>Red&eacute;marrage en cours</h2>
<br />
<div id="shut_down_message">
Attendre ,Sickbeard est en cours d'arrêt:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="shut_down_loading" />
<img src="$sbRoot/images/yes16.png" height="16" width="16" id="shut_down_success" style="display: none;" />
</div>

<div id="restart_message" style="display: none;">
Attendre ,Sickbeard est en cours de redémarrage:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="restart_loading" />
<img src="$sbRoot/images/yes16.png" height="16" width="16" id="restart_success" style="display: none;" />
<img src="$sbRoot/images/no16.png" height="16" width="16" id="restart_failure" style="display: none;" />
</div>

<div id="refresh_message" style="display: none;">
Chargement de la page d'accueil:
<img src="$sbRoot/images/loading16.gif" height="16" width="16" id="refresh_loading" />
</div>

<div id="restart_fail_message" style="display: none;">
Erreur: Le temps de chargement est trop long, peut-être que quelque chose a empêché Sickbeard de red&marrer?
</div>
